.articles-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.article {
  flex: 0 1 30%;
  margin: 1rem;
  min-height: 41rem;
  min-width: 30rem;
  cursor: pointer;
}
.article-author {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding-right: 20px;
}

.article-author p {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
}

.article:hover .img-container {
  transform: scale(1.1);
}

.newsfeed-content h2 {
  font-size: 1.9rem;
  padding: 0 1rem;
}
.article h3 {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
}

.img-container {
  height: 30rem;
  background-size: cover;
  transition: transform 1s;
}

.article {
  flex: 30%;
  margin: 1rem;
  min-height: 41rem;
  min-width: 30rem;
  cursor: pointer;
}
.newsfeed-container {
  display: flex;
  flex-flow: row nowrap;
}
.article:hover .img-container {
  transform: scale(1.1);
}
.category-container {
  flex: 200px;
}
.category-container h2 {
  font-size: 1.9rem;
  padding: 0 1rem;
}

.img-container {
  height: 30rem;
  background-size: cover;
  transition: transform 1s;
}

.category-container li:hover {
  color: var(--primary);
  cursor: pointer;
}

.cat-active {
  color: var(--primary);
  font-weight: 700;
}
